body {
  font-family: Tahoma;
  font-size: 13pt;
  letter-spacing: -1px;
}

table {
  border: 10px solid #d0d0ff;
  padding: 20px;
}

th:nth-child(-n+3), td:nth-child(-n+3) {
  text-align: left;
  padding-right: 12px;
}

th:nth-child(n+4), td:nth-child(n+4) {
  text-align: center;
  padding-right: 12px;
}

td {
  padding-top: 2px
}


tr:nth-last-child(2) td {
  border-bottom: 2px solid black;
}

tr:last-child td {
  font-weight: bold ;
  padding-top: 5px
}
